main, body, .locations__location, .locations__container, .locations, .quality, .commitment, .about, .footer__container, footer, .why-cards--card-text, .why-cards--card, .how-it-works--container, .how-it-works, .why-us--container, .why-us, .collection--coffee, .collection--container, .collection, .hero--wrapper, .hero, header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.how-it-works button, .hero--text button {
  background-color: #0E8784;
  border: none;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  line-height: 26px;
  color: #FEFCF7;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row;
  width: 327px;
  padding: 36px 0;
  height: 18px;
}
.header__wrapper figure {
  margin: 0;
  width: 163px;
}
.header__wrapper figure img {
  width: 100%;
}
.header__nav .hamburger {
  content: url("../assets/shared/mobile/icon-hamburger.svg");
  width: 16px;
}
.header__nav-list {
  display: none;
  background: pink;
}

.hero--wrapper {
  align-items: center;
  background: url("../assets/home/mobile/image-hero-coffeepress.jpg") center no-repeat #A2A2A2;
  background-size: contain;
  width: 327px;
  height: 500px;
  border-radius: 10px;
  color: #FEFCF7;
}
.hero--text {
  width: 279px;
  text-align: center;
}
.hero--text h1 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 24px;
}
.hero--text p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  opacity: 80%;
  margin: 0;
}
.hero--text button {
  margin: 39px 0 0;
}

.collection {
  margin: 120px 0;
}
.collection--container {
  width: 100%;
}
.collection--heading {
  width: 100%;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: lowercase;
  line-height: 72px;
  color: #83888F;
  margin: -72px 0 26px;
}
.collection--heading::before {
  display: block;
  content: "";
  width: 100%;
  height: 72px;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  transform: translateY(100%);
}
.collection--coffee {
  text-align: center;
  margin: 24px 0;
}
.collection--coffee:first-of-type {
  margin-top: 0;
}
.collection--coffee:last-of-type {
  margin-bottom: 0;
}
.collection--coffee--coffee-img {
  width: 100%;
  margin: 0;
}
.collection--coffee--coffee-img img {
  width: 200px;
}
.collection--coffee-text {
  width: 282px;
  margin: 24px 0 0;
  color: #333D4B;
}
.collection--coffee-text--name {
  width: 100%;
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 16px;
}
.collection--coffee-text--desc {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.why-us--container {
  background: #333D4B;
  width: 327px;
  height: 902px;
  border-radius: 10px;
  margin: 0 0 717px;
  color: #FEFCF7;
}
.why-us--text {
  margin: 64px 0 34px;
  width: 279px;
  text-align: center;
}
.why-us--text h2 {
  margin: 0 0 24px;
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
}
.why-us--text p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  opacity: 80%;
}

.how-it-works {
  text-align: center;
  margin: 0 0 120px;
}
.how-it-works--container {
  width: 327px;
}
.how-it-works--container h2 {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: #83888F;
  margin: 0 0 80px;
}
.how-it-works--card {
  margin: 28px 0;
}
.how-it-works--card:first-of-type {
  margin: 0 0 28px;
}
.how-it-works--card h4 {
  font-family: "Fraunces", serif;
  font-size: 72px;
  font-weight: 900;
  color: #FDD6BA;
  margin: 0;
}
.how-it-works--card-heading {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
  color: #333D4B;
  margin: 24px 0;
}
.how-it-works--card p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #333D4B;
}
.how-it-works button {
  margin: 51px 0 0;
}

.about {
  margin: 0 0 120px;
}

.why-cards--card {
  background: #0E8784;
  width: 279px;
  height: 382px;
  border-radius: 8px;
  text-align: center;
  color: #FEFCF7;
  margin: 24px 0;
}
.why-cards--card:first-of-type {
  margin: 0 0 24px;
}
.why-cards--card:last-of-type {
  margin: 24px 0 0;
}
.why-cards--card-img {
  margin: 72px 0 32px;
}
.why-cards--card-text {
  width: 255px;
}
.why-cards--card-text--heading {
  margin: 24px 0;
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
}
.why-cards--card-text p {
  margin: 0 0 48px;
  width: 212px;
  font-family: "Barlow", sans-serif;
  font-font-size: 15px;
  line-height: 25px;
}

.footer__container {
  background: #2C343E;
  width: 327px;
  height: 238px;
  margin: 0 0 72px;
  padding: 54px 0;
}
.footer-__logo {
  margin: 0;
}
.footer__nav {
  width: 100%;
  margin: 48px 0 50px;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #83888F;
  text-align: center;
  letter-spacing: 0.92px;
}
.footer__nav ul li {
  list-style: none;
  margin: 24px 0;
}
.footer__nav ul li:first-of-type {
  margin: 0 0 24px;
}
.footer__nav ul li:last-of-type {
  margin: 24px 0 0;
}
.footer__socials {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 120px;
}

.about__card {
  width: 327px;
  height: 400px;
  position: relative;
  background: url("../assets/about/mobile/image-hero-whitecup.jpg") center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  text-align: center;
  color: #FEFCF7;
  z-index: 0;
  border-radius: 10px;
}
.about__text {
  width: 100%;
  height: 100%;
  padding: 111px 24px 87px;
  box-sizing: border-box;
}
.about__text h2 {
  margin: 0 0 24px;
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
}
.about__text p {
  margin: 0;
  line-height: 25px;
  opacity: 0.8;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.commitment__wrapper {
  width: 327px;
  text-align: center;
  color: #333D4B;
}
.commitment__barista-card {
  width: 327px;
  height: 400px;
  position: relative;
  background: url("../assets/about/mobile/image-commitment.jpg") center no-repeat;
  background-size: contain;
  border-radius: 10px;
  z-index: 0;
}
.commitment__text h2 {
  margin: 48px 0 30px;
  line-height: 48px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 900;
}
.commitment__text p {
  margin: 0;
  line-height: 25px;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.quality {
  width: 100%;
}
.quality__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 327px;
  height: 509px;
  padding: 142px 24px 61px;
  box-sizing: border-box;
  position: relative;
  margin: 198px 0 0;
  background: #2C343E;
  border-radius: 10px;
}
.quality__cup-card {
  display: block;
  position: absolute;
  top: -78px;
  width: 279px;
  height: 156px;
  background: url("../assets/about/mobile/image-quality.jpg") center no-repeat;
  background-size: contain;
  border-radius: 8px;
}
.quality__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  color: #FEFCF7;
}
.quality__text h2 {
  margin: 0 0 24px;
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
}
.quality__text p {
  margin: 0;
  line-height: 25px;
  opacity: 80%;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.locations {
  margin: 120px 0 80px;
}
.locations__container h3 {
  margin: 0 0 32px;
  color: #83888F;
  font-family: "Fraunces", serif;
  font-size: 24px;
}
.locations__location {
  width: 327px;
  margin: 40px 0;
  text-align: center;
}
.locations__country {
  width: 100%;
  color: #333D4B;
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
}
.locations__country-img {
  width: 100%;
}
.locations__address {
  width: 100%;
  color: #333D4B;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
}

body {
  background-color: #FEFCF7;
}

.color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: overlay;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 20%;
  background: #000;
  border-radius: 10px;
}

/*# sourceMappingURL=main.css.map */
