.commitment {
    @extend %center-flex;
    .commitment-wrap {
        width: 327px;
        text-align: center;
        color: $darkgreyblue;
        .barista-card {
            width: 327px;
            height: 400px;
            position: relative;
            background: url('../assets/about/mobile/image-commitment.jpg') center no-repeat;
            background-size: contain;
            border-radius: 10px;
            z-index: 0;
        }
        h2 {
            margin: 48px 0 30px;
            line-height: 48px;
            font: {
                family: $fraunces;
                size: 32px;
                weight: 900;
            }
        }
        p {
            line-height: 25px;
            font: {
                family: $barlow;
                size: 15px;
                weight: 400;
            }
        }
    }
}